/*-- Font Family --*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
body {
    background-color: #D4C9EB;
    font-family: 'Raleway', sans-serif;
}

h2, h5 {
    color: #6E47BA;
}

nav {
    background-color: #F2EEF9;
    position: sticky !important;
    top: 0;
    z-index: 9999;
}

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1.0625rem;
    margin-top: 1.25rem;
}

a {
    text-decoration: none;
    color: black;
}

/*-- Navbar--*/

.navbar-brand {
    color: #6E47BA !important;
}

a.nav-link {
    margin-left: 0.9375rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #6E47BA;
}

button.navbar-toggler {
    width: 100px;
}

/*-- Containers --*/

.containers {
    background-color: #fafafa;
    border-radius: 1.25rem;
    padding: 1.25rem 1.875rem 1.25rem 1.25rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.875rem;
    width: 95%;
}

@media screen and (max-width: 992px) {
    .containers {
        padding: 1.875rem;
    }
}

/*-- Mouse --*/

/*-- Code from: https://codemyui.com/scroll-icon-animation/ --*/

.scroll-down, .scroll-down:before {
    position: absolute;
    left: 50%;
}

.scroll-down {
    width: 40px;
    height: 70px;
    margin-left: -1.25rem;
    margin-top: -2.188rem;
    box-shadow: inset 0 0 0 0.125rem black;
    border-radius: 1.563rem;
    bottom: 0.625rem;
}

@media screen and (max-width: 320px) {
    .scroll-down {
        bottom: -2.813rem;
    }
}

.scroll-down:before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    margin-left: -0.313rem;
    top: 0.625rem;
    border-radius: 0.313rem;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(2.875rem);
    }
}

/*__ Back to top button --*/

#top-btn {
    position: fixed;
    bottom: 1.25rem;
    right: 2.5rem;
    z-index: 99;
    padding-right: 2px;
    color: #ffffff;
    background-color: #A4BF9A;
    cursor: pointer;
    border-radius: 1.4375rem;
    border-style: solid;
    border-color: #7AA16B;
    width: 40px;
    height: 40px;
    opacity: 0;
    box-shadow: 0.125rem 0.125rem 0.125rem #9B9B9B;
}

@media screen and (max-width: 992px) {
    #top-btn {
        right: 1.25rem;
    }
}

#top-btn:hover {
    background-color: #7AA16B;
}

.top-btn-show {
    opacity: 1!important
}

/*-- Callout Container --*/

.callout-container {
    background: url("../images/lavender.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.jumbotron {
    background-color: transparent;
}

/*-- Maps --*/

#map {
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    #map {
        height: 400px;
        margin-top: 1.563rem;
    }
}

.style-maps {
    position: relative;
    justify-content: center;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}

@media screen and (max-width: 768px) {
    .style-maps {
        margin-right: 0;
        margin-left: 0;
    }
}

.style-select {
    position: absolute;
    top: 0.5rem;
    width: 20%;
    background-color: #D4C9EB;
    padding: 0.313rem;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .style-select {
        top: -2.5rem;
        width: 67%;
    }
}

.course-name {
    color: #6E47BA;
}

/*---- Recipes container ----*/

.recipe-container {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.recipe-text {
    margin-top: 0.625rem;
}

@media screen and (max-width: 992px) {
    .recipe-text {
        margin-top: 0.938rem;
    }
}

/*-- Recipes buttons --*/

.recipe-btn-container {
    margin: 2.8125rem 12.5rem;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1265px) {
    .recipe-btn-container {
        margin: 0;
    }
}

.recipe-btn {
    background-color: #E4DBF2;
    width: auto;
    height: auto;
    margin: 0.3125rem;
    cursor: pointer;
    padding: 0.3125rem;
    border-style: solid;
    border-width: 1px;
    border-color: #A790D6;
    box-shadow: 0.0625rem 0.0625rem 0.0625rem #9B9B9B;
}

.recipe-btn:hover {
    color: black;
}

/*-- Recipes Instructions --*/

#recipe-inst-text {
    font-size: 1.125rem;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -15%;
    transform: translate(-50%, -50%)
}

.recipe-inst-container {
    background-color: #f2eef9;
    height: 310px;
    margin-top: 7.5rem;
    margin-left: 4.375rem;
    border-radius: 4%;
    border-style: solid;
    border-width: 2px;
    border-color: #A790D6;
}

@media screen and (max-width: 992px) {
    .recipe-inst-container {
        margin-left: 0;
        width: 200px !important;
        margin-top: 3.125rem;
    }
}

/*-- Recipes pie chart --*/

svg {
    max-height: 300px;
    margin: 0 auto;
    height: auto !important;
    width: 300px !important;
    display: block;
}

@media screen and (max-width: 320px) {
    svg {
        margin: 0rem -1.5rem;
    }
}

#recipe-graph {
    margin-top: 2.5rem;
}

/*-- Pie Chart/ Aromatic profile Legend --*/

.aromatic-prof-text {
    display: inline;
    font-size: 0.938rem;
}

.legend-container {
    padding: 0.938rem 0;
}

.legend-text {
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 45px;
    height: 25px;
    padding: 0.75rem 0;
    margin: 0.438rem;
    border-radius: 10%;
    font-size: 1.25rem;
    line-height: 7px;
}

/*-- Aromatic profile legend colors --*/

.woody {
    background: #66c2a5;
}

.floral {
    background: #fd8d62;
}

.resinous {
    background: #8ea0cc;
}

.citrus {
    background: #a7d955;
}

@media (max-width: 415px) and (min-width: 375px) {
    .legend li {
        margin: 0.313rem 1.188rem;
    }
}

/*-- Footer --*/

footer {
    min-height: 150px;
    text-align: center;
    background-color: #A790D6;
    padding: 0.313rem 0rem 0.313rem 0rem;
}

#footer-details {
    margin: 1.563rem;
}

.social-links {
    padding: 0.938rem 0;
}

.social-links i {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 7px;
    background: #f2eef9;
    color: #6E47BA;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    box-shadow: 0.125rem 0.125rem 0.125rem #000000;
}

.social-links i:hover {
    background: #D5E4B6;
}

a:link {
    text-decoration: none;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}