body {
    background-color: #D4C9EB
    ;
}

.callout-container {
    height: 100vh;
    background: url("../images/lavender.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
}

/*----------Maps*/

.maps {
    background-color: #fafafa;
    margin-top: 20px;
    border-radius: 20px;
    padding: 35px 70px;
    margin-bottom: 10px;
}

#map {
    height: 400px;
    width: 100%;
}

#country {
    width: 100%;
}

/*----------mouse*/

.scroll-down, .scroll-down:before {
    position: absolute;
    left: 50%;
}

.scroll-down {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px black;
    border-radius: 25px;
    bottom: 10px;
}

.scroll-down:before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    margin-left: -5px;
    top: 10px;
    border-radius: 5px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }