.callout {
    background-image: url("../images/szmigiel-unsplash-min.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
}

