body {
    background-color: #D4C9EB;
    font-family: 'Raleway', sans-serif;
}

h2, h5 {
    color: #6E47BA;
}

nav {
    background-color: #fafafa;
    position: sticky;
    top: 0;
    z-index: 9999999999999999999999;
}

html {
    scroll-behavior: smooth;
}

/*-- Callout --*/

.callout-container {
    height: 100vh;
    background: url("../images/lavender.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: transparent;
}

/*-- Containers --*/

.containers {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 20px 30px 20px 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 95%;
}

@media screen and (max-width: 992px) {
    .containers {
        padding: 30px;
    }
}

/*-- Maps --*/

#map {
    height: 600px;
    width: 100%;
}

@media screen and (max-width: 576px) {
    #map {
        height: 400px;
        margin-top: 25px;
    }
}

.style-maps {
    position: relative;
    justify-content: center;
    margin-right: 20px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .style-maps {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.style-select {
    position: absolute;
    top: 8px;
    width: 20%;
    background-color: #D4C9EB;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 992px) {
    .style-select {
        top: -40px;
        width: 67%;
    }
}

.p-maps {
    font-size: 20px;
    margin-top: 20px;
}

/*-- Recipes --*/

.recipe-text {
    margin-top: 55px;
}

@media screen and (max-width: 992px) {
    .recipe-text {
        margin-top: 15px;
    }
}

.recipe-container {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#recipe-graph {}

.recipe-buttons {
    margin: 45px 50px 0px 0px;
}

@media screen and (max-width: 992px) {
    .recipe-buttons {
        margin: 0;
    }
}

button {
    background-color: #E4DBF2;
    width: 150px;
    margin: 2px 1px;
}

.button-top {
    color: #fff;
    background-color: #B2C9AA;
    border-color: #B2C9AA;
    float: right;
    margin: 10px 20px 0px 20px;
}

#recipeInst-text {
    font-size: 18px;
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -15%;
    transform: translate(-50%, -50%)
}

.recipeInst-container {
    background-color: #f2eef9;
    height: 250px;
    margin-top: 80px;
    margin-left: 70px;
    border-radius: 4%;
}

@media screen and (max-width: 992px) {
    .recipeInst-container {
        margin-left: 0px;
        width: 200px !important;
    }
}

/*-- Recipe pie chart --*/

svg {
    max-height: 300px;
    margin: 0 auto;
    /* poor attempt at centering */
    height: auto !important;
    /* overrides inline */
    width: 300px !important;
    /* overrides inline */
    display: block;
}

@media screen and (max-width: 320px) {
    svg {
        margin: 0px -24px;
    }
}

/*-- Pie Chart/ Aromatic profile Legend --*/

.legend {
    padding: 15px 0;
}

.legend li {
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width: 45px;
    height: 25px;
    padding: 12px 0;
    margin: 7px;
    border-radius: 10%;
    font-size: 20px;
    line-height: 7px;
    background: #f2eef9;
}

@media (max-width: 415px) and (min-width: 375px) {
    .legend li {
        margin: 5px 19px;
    }
}

.aromaticProf-text {}

/*-- Mouse --*/

/*-- Code from: https://codemyui.com/scroll-icon-animation/ --*/

.scroll-down, .scroll-down:before {
    position: absolute;
    left: 50%;
}

.scroll-down {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    margin-top: -35px;
    box-shadow: inset 0 0 0 2px black;
    border-radius: 25px;
    bottom: 10px;
}

@media screen and (max-width: 320px) {
    .scroll-down {
        bottom: -45px;
    }
}

.scroll-down:before {
    content: '';
    width: 10px;
    height: 10px;
    background: black;
    margin-left: -5px;
    top: 10px;
    border-radius: 5px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(46px);
    }
}

/*-- Footer --*/

footer {
    min-height: 150px;
    text-align: center;
    background-color: #A790D6;
    padding: 5px 0px 5px 0px;
}

#footer-details {
    margin: 25px;
}

.social-links {
    padding: 15px 0;
}

.social-links li a i {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    background: #f2eef9;
    color: #6E47BA;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #D5E4B6;
}

a:link {
    text-decoration: none;
}

.slice text {
    font-size: 16pt;
    font-family: Arial;
}